/*Variables*/
:root {
  --primary-white-color: #ffffff;
  --primary-iris-color: #4d5ae5;
  --primary-blue-color: #2e2f42;
  --primary-text-color: #434455;
  --primary-ocean-color: #404bbf;
  --primary-cloud-color: #f4f4fd;
  --primary-cornflower-color: #e7e9fc;
}
/*General styles*/
.body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.header-logo {
  color: var(--primary-blue-color);
}
.footer-logo {
  color: var(--primary-cloud-color);
}
.hero {
  background-color: var(--primary-blue-color);
}
.address {
  font-style: normal;
}
/*Specific styles*/
.logo {
  color: var(--primary-iris-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-link {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus {
  color: var(--primary-ocean-color);
}
.nav-link {
  color: var(--primary-blue-color);
  font-weight: 500;
}
.address-link {
  color: var(--primary-text-color);
  font-weight: 400;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-white-color);
}
.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.hero-btn {
  background-color: var(--primary-iris-color);
  color: var(--primary-white-color);
}
.hero-btn:hover,
.hero-btn:focus {
  cursor: pointer;
  background-color: var(--primary-ocean-color);
}
.title {
  letter-spacing: 0.02em;
  color: var(--primary-blue-color);
}
.third-layer-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}
.text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.second-layer-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
}
.team-section {
  background-color: var(--primary-cloud-color);
}
.card {
  background-color: var(--primary-white-color);
}
.footer {
  background-color: var(--primary-blue-color);
}
.footer-text {
  color: var(--primary-cloud-color);
}
.portfolio-btn {
  background-color: var(--primary-cloud-color);
  color: var(--primary-iris-color);
  border: 1px solid var(--primary-cornflower-color);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--primary-ocean-color);
  color: var(--primary-white-color);
  cursor: pointer;
}
