/*Variables*/
:root {
  --primary-white-color: #ffffff;
  --primary-iris-color: #4d5ae5;
  --primary-blue-color: #2e2f42;
  --primary-text-color: #434455;
  --primary-ocean-color: #404bbf;
  --primary-cloud-color: #f4f4fd;
  --primary-cornflower-color: #e7e9fc;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.body {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}
.header {
  border-bottom: 1px solid var(--primary-cornflower-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.section-list {
  display: flex;
  gap: 24px;
}
.header-container {
  display: flex;
  justify-content: space-between;
}
.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
.section {
  padding-top: 120px;
}
.section:not(.section.advantages) {
  padding-bottom: 120px;
}
.title {
  letter-spacing: 0.02em;
  color: var(--primary-blue-color);
}
.second-layer-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}
.third-layer-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
.text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/*Specific styles*/

/*header*/
.header-accent {
  color: var(--primary-blue-color);
}
.address {
  font-style: normal;
  padding: 24px 0;
}
.header-nav {
  padding: 24px 0;
  display: flex;
  gap: 77px;
  align-items: center;
}
.header-list {
  display: flex;
  gap: 40px;
}
.logo {
  color: var(--primary-iris-color);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.header-link {
  font-family: inherit;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.header-link:hover,
.header-link:focus {
  color: var(--primary-ocean-color);
}
.nav-link {
  color: var(--primary-blue-color);
  font-weight: 500;
}
.address-link {
  color: var(--primary-text-color);
  font-weight: 400;
}

/*hero*/
.hero {
  background-color: var(--primary-blue-color);
  padding: 188px 0;
}
.hero-title {
  width: 496px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--primary-white-color);
  margin-bottom: 48px;
}
.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: block;
  border-radius: 4px;
}
.hero-btn {
  background-color: var(--primary-iris-color);
  color: var(--primary-white-color);
  padding: 16px 32px;
  border: none;
  margin: 0 auto;
}
.hero-btn:hover,
.hero-btn:focus {
  cursor: pointer;
  background-color: var(--primary-ocean-color);
}

/*1section*/
.advantages-item {
  width: calc((100% - 72px) / 4);
}

/*3section*/
.team {
  background-color: var(--primary-cloud-color);
}
.card {
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 16px;
}

/*footer*/
.footer {
  background-color: var(--primary-blue-color);
}
.footer-accent {
  color: var(--primary-cloud-color);
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-text {
  color: var(--primary-cloud-color);
  width: 264px;
}
.footer-container {
  padding-top: 100px;
  padding-bottom: 100px;
}

/*portfolio*/
.portfolio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio-btn {
  background-color: var(--primary-cloud-color);
  color: var(--primary-iris-color);
  border: 1px solid var(--primary-cornflower-color);
  width: auto;
  height: auto;
  padding: 12px 24px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--primary-ocean-color);
  color: var(--primary-white-color);
  cursor: pointer;
}
.button-list {
  width: 586px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 72px;
}
.net-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0;
  padding: 0;
}
.net-list .item {
  width: calc((100% - 48px) / 3);
}
.portfolio-card-content {
  border: 1px solid var(--primary-cornflower-color);
  border-top: none;
  padding: 32px 16px;
}
